<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лекція 1. Будь-яка тематика</title>
</head>
<body>
    <h1>Лекція 1. Будь-яка тематика.</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FU8T5JNv2r4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div th:replace="/pages/lesson1/lesson1 :: material">

    </div>
</body>
</html>